version: "3.9"

services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile.backend
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      MLFLOW_TRACKING_URI: http://mlflow:5000
    depends_on:
      - mlflow

  mlflow:
    build:
      context: ./mlflow
      dockerfile: Dockerfile.mlflow
    container_name: mlflow-ui
    ports:
      - "5001:5000"
    volumes:
      - mlflow_data:/mlflow
